# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Session
SESSION_SECRET=replace-me

# Frontend
FRONTEND_ORIGIN=http://localhost:5500
FRONTEND_REDIRECT=http://localhost:5500/schedule.html

# Server
PORT=3000
